.navbar {
    background-image: url(../img/Sprinkle_fadedonwhitebackground.png);
    background-size: cover;
    padding: 10;
}
#sugarLogo {
    width: 200px;
}
ul.navbar-nav {
    color: black;
}

.nav-link {
    color: black;
}
a.nav-link.active {
    color: plum;
    font-weight: bold;
}
.vid-bg {
    width: 100%;
    height: 100%;
}
.video-container {
    position: relative;
    margin-top: -32px;
    z-index: -1;
}
.overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}
.content {
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 1;
}
#hist-counter {
    background-color: #f7d9db;
    margin-top: -10px;
    padding: 30px;
}
h1 {
    font-size: 26px;
}
